/******************
 * COLOR VARIABLES
 ******************/
$LIGHTGREY:   darken(whitesmoke, .5%);   // #f4f4f4
$XLIGHTGREY:  lighten(whitesmoke, 1.5%); // #f9f9f9
$XXLIGHTGREY: lighten(whitesmoke, 2%);   // #fafafa

$colors: (
	bg: (
		vertical: (
			caption: $LIGHTGREY,
			links: (
				active: $XXLIGHTGREY
			)
		),
		tabs: (
			horizontal: (
				links: (
					active: white
				),
				dividers: (
					links: (
						active: $XLIGHTGREY
					)
				)
			),
			vertical: (
				links: (
					active: $XLIGHTGREY
				)
			)
		)
	),

	dividers: (
		tabs: gainsboro, // #dcdcdc
		vertical: lighten(lightgrey, 6.4%), // #e3e3e3
		caption: (
			top:    #f2f2f2,
			bottom: $XLIGHTGREY
		),
		horizontal: (
			left:  $XLIGHTGREY,
			right: lightslategray
		)
	),

	text: (
		caption: (
			default: darken(slategrey, 8%), // #5e6c79
			shadow: white
		),
		links: (
			default: lightslategray !important,
			active:  indianred !important,
			click:   darken(indianred, 15%) !important // #a93434
		),
		tabs: (
			links: (
				default: lightslategray !important,
				active:  dimgray !important
			)
		)
	)
);