/******************
 * COLOR VARIABLES
 ******************/
// gainsboro: #dcdcdc
$LIGHTGREY:    darken(whitesmoke, 7%);    // #e3e3e3
$XLIGHTGREY:   darken(whitesmoke, .5%);   // #f4f4f4
$XXLIGHTGREY:  lighten(whitesmoke, 1.5%); // #f9f9f9
$XXXLIGHTGREY: lighten(whitesmoke, 2%);   // #fafafa

$colors: (
	bg: (
		vertical: (
			caption: $XLIGHTGREY,
			links: (
				active: $XXXLIGHTGREY
			)
		),
		tabs: (
			horizontal: (
				links: (
					active: white
				),
				dividers: (
					links: (
						active: $XXLIGHTGREY
					)
				)
			),
			vertical: (
				links: (
					active: $XXLIGHTGREY
				)
			)
		)
	),

	dividers: (
		tabs: gainsboro,
		vertical: $LIGHTGREY,
		caption: (
			top:    $LIGHTGREY,
			bottom: $XXLIGHTGREY
		),
		horizontal: (
			left:  $XXLIGHTGREY,
			right: lightslategray
		)
	),

	text: (
		caption: (
			default: darken(slategrey, 8%), // #5e6c79
			shadow: white
		),
		links: (
			default: lightslategray !important,
			active:  indianred !important,
			click:   darken(indianred, 15%) !important // #a93434
		),
		tabs: (
			links: (
				default: lightslategray !important,
				active:  dimgray !important
			)
		)
	)
);