/*********************
 * RESPONSIVE TRIGGER
 *********************/
.trigger {
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	align-self: flex-start;
	width: 40px;
	padding: 8px;
	cursor: pointer;
	border: 1px solid mapGet($palette, xGreyLight);
	border-radius: 5px;
	background-color: mapGet($palette, white);
	transition: all .35s ease-in-out;

	/* Trigger States
	 *****************/
	&:focus {
		outline: none;
		+ .nav {
			transition: all .25s ease-in-out;
		}
	}

	/* The Bars
	 ***********/
	b {
		position: relative;
		top: 0;
		height: 3px;
		border-radius: 1px;
		background-color: mapGet($palette, blueGreyDark);
		transition: all 0.5s ease-in-out;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	&:focus b,
	&:hover b {
		background-color: mapGet($palette, redLight);
	}
}

/* Open Trigger
 ***************/
&:not(.closed) .trigger {
	border-radius: 5px 5px 0 0;
	b {
		$scale: .8;
		&.top {
			top: 7px;
			transform: rotate(45deg) scale($scale);
		}
		&.bottom {
			top: -7px;
			transform: rotate(-45deg) scale($scale);
		}
		&.middle {
			opacity: 0;
		}
	}
}

/* Kinds
 ********/
&.default {
	&.closed .trigger {
		opacity: .6;
	}
	.trigger {
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}