common:
	build: server: false
	browser: open: false, reload: false

	dist:
		client:
			paths:
				absolute: false

	exclude:
		default:
			client:
				files: true
		from:
			minFile:
				scripts: [
					'scripts/activity.js'
				]
	extra:
		copy:
			client: [
				'package.json'
			]

	inline:
		jsHtmlImports:
			client:
				enable: true

	minify:
		cacheBust: false
		html:
			templateCache: false
		css:
			fileName:
				'rb-nav.css'
		client:
			js:
				es6: true
				fileName: 'rb-nav.js'

demo:
	build: server: true
	browser: open: true, reload: true

	ports:
		server: 5002
		reload: 5003

	extra:
		copy:
			client: [
				'node_modules/**'
			]