/********************************
 * DARK CSS BACKGROUND VARIABLES
 ********************************/
$darkCssBgVars: (
	// Default
	default-vertical-dividers-heading-bg:          mapGet($palette, xGreyDark),
	default-vertical-dividers-link-bg:             mapGet($palette, dark),
	default-vertical-dividers-link-bg-hover:       mapGet($palette, xDark),
	default-vertical-dividers-link-bg-click:       mapGet($palette, xDark),
	default-vertical-dividers-link-bg-active:      mapGet($palette, xDark),

	// Primary
	primary-horizontal-no-dividers-link-bg:        mapGet($palette, trans),
	primary-horizontal-no-dividers-link-bg-hover:  mapGet($palette, xDark),
	primary-horizontal-no-dividers-link-bg-click:  mapGet($palette, xDark),
	primary-horizontal-no-dividers-link-bg-active: mapGet($palette, xDark),
	primary-horizontal-dividers-link-bg:           mapGet($palette, dark),
	primary-horizontal-dividers-link-bg-hover:     mapGet($palette, xDark),
	primary-horizontal-dividers-link-bg-click:     mapGet($palette, xDark),
	primary-horizontal-dividers-link-bg-active:    mapGet($palette, xDark),
	primary-vertical-dividers-link-bg:             mapGet($palette, dark),
	primary-vertical-dividers-link-bg-hover:       mapGet($palette, xDark),
	primary-vertical-dividers-link-bg-click:       mapGet($palette, xDark),
	primary-vertical-dividers-link-bg-active:      mapGet($palette, xDark),

	// Responsive
	default-responsive-nav-bg:                       mapGet($palette, dark),
	default-responsive-closed-trigger-bg:            mapGet($palette, xDark),
	default-responsive-closed-trigger-bars-bg:       mapGet($palette, greyDark),
	default-responsive-closed-trigger-bars-bg-hover: mapGet($palette, greyLight),
	default-responsive-open-trigger-bg:              mapGet($palette, dark),
	default-responsive-open-trigger-bars-bg:         mapGet($palette, grey),
	default-responsive-open-trigger-bars-bg-hover:   mapGet($palette, greyLight),

	primary-responsive-nav-bg:                       mapGet($palette, dark),
	primary-responsive-closed-trigger-bg:            mapGet($palette, dark),
	primary-responsive-closed-trigger-bars-bg:       mapGet($palette, grey),
	primary-responsive-closed-trigger-bars-bg-hover: mapGet($palette, greyLight),
	primary-responsive-open-trigger-bg:              mapGet($palette, dark),
	primary-responsive-open-trigger-bars-bg:         mapGet($palette, grey),
	primary-responsive-open-trigger-bars-bg-hover:   mapGet($palette, greyLight),
	primary-responsive-dividers-heading-bg:          mapGet($palette, xGreyDark)
);