<nav class="
	${props.kind || 'default'}
	${props.inline ? 'inline' : 'block'}
	${props.inverse ? 'inverse' : ''}
	${props.dividers || (props.responsive.enabled && !props.responsive.closed) ? 'dividers' : ''}
	${props.vertical || (props.responsive.enabled && !props.responsive.closed) ? 'vertical' : 'horizontal'}
	${props.responsive.enabled
		? 'responsive'
			+ (props.responsive.closed ? ' menu-closed' : '')
			+ (props.responsive.left ? ' menu-left' : '')
		: ''
	}">
	${props.responsive.enabled
		? html`
			<button
				type="button"
				class="trigger"
				@click="${this._triggerClick.bind(this)}"
				@mouseleave="${this._triggerLeave.bind(this)}">
				<b class="top"></b>
				<b class="middle"></b>
				<b class="bottom"></b>
			</button>`
		: null
	}
	<div class="nav" @click="${props.responsive.enabled && this._menuClick.bind(this)}">
		 <slot></slot>
	</div>
</nav>

<link rel="stylesheet" href="../styles/rb-nav.css">