<nav class="
	${props.kind || 'default'}
	${props.dark ? 'dark' : 'light'}
	${props.inline ? 'inline' : 'block'}
	${props.vertical || state.responsive._active ? 'vertical' : 'horizontal'}
	${props.dividers || state.responsive._active && state.responsive.dividers ? 'dividers' : 'no-dividers'}
	${state.responsive.enabled && state.responsive._active
		? 'responsive'
			+ (state.responsive._left ? ' menu-left' : ' menu-right')
			+ (state.responsive.show ? ' menu-open' : ' menu-closed')
		: ''
	}">
	${state.responsive.enabled
		? html`
			<button
				type="button"
				class="trigger"
				@click="${this._triggerClick.bind(this)}"
				@mouseleave="${this._triggerLeave.bind(this)}">
				<b class="top"></b>
				<b class="middle"></b>
				<b class="bottom"></b>
			</button>`
		: null
	}
	<div class="nav">
		 <slot></slot>
	</div>
</nav>

<link rel="stylesheet" href="../styles/rb-nav.css">