/****************
 * LIGHT BORDERS
 ****************/
&.default.horizontal.dividers {
	::slotted(a:not(.rb-first)) { // the dividers
		box-shadow: -7px 1px 0 -6px mapGet($light, dividers, horizontal);
	}
}
&.default.vertical.dividers {
	::slotted(h3) {
		border-top-color: mapGet($light, dividers, caption, top);
		border-bottom-color: mapGet($light, dividers, caption, bottom);
	}
	::slotted(a) {
		border-color: mapGet($light, dividers, vertical);
	}
}
&.primary.horizontal {
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		border-color: mapGet($light, dividers, primary);
	}
}
&.primary.vertical.dividers {
	::slotted(a) {
		border-color: mapGet($light, dividers, primary);
	}
}

/* Responsive
 *************/
@media (max-width: $RESPONSIVE) { &.responsive {
	.nav,
	.trigger {
		border-color: mapGet($palette, xGreyLight);
	}
}}