/****************
 * RB-NAV STYLES
 ****************/
// sass functions
@function remy($px, $pxBase: 16) { // :rem (pixels to rem converter)
	@return ($px / $pxBase) + rem;
}

:host {}

/* Shared
 *********/
nav {
	position: relative;

	::slotted(a) {
		margin: 0;
		box-sizing: border-box !important;
		cursor: pointer !important;
		text-decoration: none !important;
	}
	::slotted(a:focus) {
		outline: none !important;
	}
	::slotted(a.active) {
		cursor: default !important;
	}
}

/* Display Options (*block | inline)
 *****************/
nav {
	&.block {
		display: flex;
	}
	&.inline {
		display: inline-flex;
	}
}

/* Layout Options (*horizontal | vertical)
 *****************/
nav {
	&.horizontal {
		flex-flow: row wrap;
	}
	&.vertical {
		flex-flow: column nowrap;
	}
}

/* Kind: Default
 ****************/
nav.default {
	::slotted(a) {
		color: lightslategray !important;
	}
	::slotted(a:not(:last-child)) {
		margin-right: remy(15);
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a.active) {
		color: indianred !important;
	}
	::slotted(a:active) {
		color: darken(indianred, 15%) !important;
	}

	&.vertical {
		::slotted(a) {
			margin: 0;
		}
		::slotted(a:not(:last-child)) {
			margin-bottom: remy(10);
		}
	}

	/* Dividers Option
	 ******************/
	&.dividers {
		&.horizontal {
			::slotted(a:not(:last-child))::after {
				top: 1px;
				position: relative;
				display: inline-block;
				height: remy(12);
				margin-left: remy(15);
				border-left: 1px solid #f9f9f9;
				border-right: 1px solid lightslategray;
				content: '';
			}
		}
		&.vertical {
			$borderColor: #e3e3e3;
			::slotted(a) {
				margin: 0;
				padding: remy(7) remy(12) remy(9);
				border-bottom: 1px solid $borderColor;
			}
			::slotted(a:first-child) {
				border-top: 1px solid $borderColor;
			}
			::slotted(a:hover),
			::slotted(a:focus),
			::slotted(a.active) {
				background-color: #f9f9f9;
			}
		}
	}
}

/* Kind: Tabs
 *************/
nav.tabs {
	top: 1px; // to go overlap bottom border of container

	::slotted(a) {
		padding: remy(10) remy(10) remy(18);
		color: lightslategray !important;
		font-size: remy(13) !important;
		font-weight: 600 !important;
		letter-spacing: .1px !important;
		text-transform: uppercase !important;
		border-radius: 10px 10px 0 0;
		border: 1px solid transparent;
		border-bottom: none;
	}
	::slotted(a:not(:last-child)) {
		margin-right: remy(2);
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		border-color: #ddd;
		background-color: white;
	}
	::slotted(a:hover),
	::slotted(a:focus) {
		color: lightslategray !important;

	}
	::slotted(a:active),
	::slotted(a.active) {
		color: dimgray !important;
	}
}