/*********
 * COMMON
 *********/
nav {
	position: relative;
}
.trigger { // responsive
	display: none;
}

/* Slots
 ********/
::slotted(a) {
	cursor: pointer !important;
	text-decoration: none !important;
}
::slotted(rb-popover) {
	position: relative !important; // js: _makePopoverViewable() needs this
}
::slotted(a),
::slotted(rb-popover) {
	box-sizing: border-box !important;
}
::slotted(a:focus),
::slotted(rb-popover:focus) {
	outline: none !important;
}
::slotted(a),
::slotted(h3) {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}