/**************
 * COMMON SLOT
 **************/
::slotted(a) {
	box-sizing: border-box !important;
	cursor: pointer !important;
}
::slotted(a:focus) {
	outline: none !important;
}

::slotted(a),
::slotted(h3) {
	margin: 0 !important;
	padding: 0 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}