/*******
 * HOST
 *******/
:host {
	all: initial; // reset all styles first
	contain: layout style; // paint causes responsive menu to not show up
	line-height: inherit;
	vertical-align: top;
}
:host([hidden]) {
	display: none;
}
:host(:not([inline])) {
	display: block;
}
:host([inline]) {
	display: inline-block;
}

@media (max-width: $RESPONSIVE) {
	:host([responsive]) {
		position: relative;
		z-index: 100;
	}
}