/*******
 * HOST
 *******/
:host {
	all: initial; // reset all styles first
	contain: layout style; // paint causes responsive menu to not show up
	position: relative;
	z-index: 100; // required for popovers to be over other navs
	line-height: inherit;
	vertical-align: top;
}
:host([hidden]) {
	display: none;
}
:host(:not([inline])) {
	display: block;
}
:host([inline]) {
	display: inline-block;
}