/*********************
 * RESPONSIVE TRIGGER
 *********************/
.responsive {
	.trigger {
		display: inline-flex;
		flex-direction: column;
		align-items: stretch;
		align-self: flex-start;
		width: 40px;
		padding: 8px;
		cursor: pointer;
		transition: all .35s ease-in-out;
		&:focus { outline: none; }
	}

	/* The Bars
	 ***********/
	.trigger b {
		position: relative;
		top: 0;
		height: 3px;
		border-radius: 1px;
		transition: all 0.5s ease-in-out;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	/* Open Trigger Bars
	 ********************/
	&.menu-open .trigger b {
		$scale: .8;
		&.top {
			top: 7px;
			transform: rotate(45deg) scale($scale);
		}
		&.bottom {
			top: -7px;
			transform: rotate(-45deg) scale($scale);
		}
		&.middle {
			opacity: 0;
		}
	}
}