/*****************
 * INVERSE COLORS
 *****************/
::slotted(h3) {
	color: mapGet($inverse, text, caption, default) !important;
	text-shadow: 0 1px 2px mapGet($inverse, text, caption, shadow) !important;
}

/* Kinds
 ********/
&.default {
	::slotted(a) {
		color: mapGet($inverse, text, links, default) !important;
	}
	::slotted(a:hover),
	::slotted(a:focus) {
		color: mapGet($inverse, text, links, hover) !important;
	}
	::slotted(a.active) {
		color: mapGet($inverse, text, links, active) !important;
	}
	::slotted(a:active:not(.active)) {
		color: mapGet($inverse, text, links, click) !important;
	}
}

&.primary.horizontal {
	::slotted(a) {
		color: mapGet($inverse, text, primary, horizontal, links, default) !important;
	}
	::slotted(a:active),
	::slotted(a.active) {
		color: mapGet($inverse, text, primary, horizontal, links, active) !important;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		border-color: mapGet($inverse, dividers, primary);
		background-color: mapGet($inverse, bg, primary, horizontal, links, active);
	}
}
&.primary.vertical {
	::slotted(a) {
		color: mapGet($inverse, text, primary, vertical, links, default) !important;
	}
	::slotted(a:active),
	::slotted(a.active) {
		color: mapGet($inverse, text, primary, vertical, links, active) !important;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		background-color: mapGet($inverse, bg, primary, vertical, links, active);
	}
}

/* Dividers
 ***********/
&.default.dividers.horizontal {
	::slotted(a:not(.rb-first)) {
		box-shadow: -7px 1px 0 -6px mapGet($inverse, dividers, horizontal);
	}
}

&.default.dividers.vertical {
	::slotted(h3) {
		background-color: mapGet($inverse, bg, vertical, caption);
		border-top: 1px solid mapGet($inverse, dividers, caption, top);
		border-bottom: 1px solid mapGet($inverse, dividers, caption, bottom);
		text-shadow: 0 1px 2px mapGet($inverse, text, caption, shadow) !important;
	}
	::slotted(a) {
		border-top: 1px solid mapGet($inverse, dividers, vertical);
	}
	::slotted(a.rb-last) { // differ (:last-child)
		border-bottom: 1px solid mapGet($inverse, dividers, vertical);
	}
	::slotted(a:hover),
	::slotted(a:focus) {
		background-color: mapGet($inverse, bg, vertical, links, hover);
	}
	::slotted(a.active) {
		background-color: mapGet($inverse, bg, vertical, links, active);
	}
	::slotted(a:active) { // differ (added)
		color: mapGet($inverse, text, links, active) !important;
	}
}

&.primary.dividers {
	::slotted(a) {
		border: 1px solid mapGet($inverse, dividers, primary);
	}
}
&.primary.dividers.horizontal {
	::slotted(a) {
		border-bottom: none;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		background-color: mapGet($inverse, bg, primary, horizontal, dividers, links, active);
	}
}
