/*****************
 * INVERSE COLORS
 *****************/
::slotted(h3) {
	color: mapGet($inverse, text, caption, default) !important;
	text-shadow: 0 1px 2px mapGet($inverse, text, caption, shadow) !important;
}

/* Kinds
 ********/
&.default {
	::slotted(a) {
		color: mapGet($inverse, text, links, default) !important;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a.active) {
		color: mapGet($inverse, text, links, active) !important;
	}
	::slotted(a:active:not(.active)) {
		color: mapGet($inverse, text, links, click) !important;
	}
}

&.tabs {
	::slotted(a) {
		color: mapGet($inverse, text, tabs, links, default) !important;
	}
	::slotted(a:active),
	::slotted(a.active) {
		color: mapGet($inverse, text, tabs, links, active) !important;
	}
}

&.tabs.horizontal {
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		border-color: mapGet($inverse, dividers, tabs);
		background-color: mapGet($inverse, bg, tabs, horizontal, links, active);
	}
}
&.tabs.vertical {
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		background-color: mapGet($inverse, bg, tabs, vertical, links, active);
	}
}

/* Dividers
 ***********/
&.default.dividers.horizontal {
	::slotted(a:not(.rb-first))::before {
		border-left: 1px solid mapGet($inverse, dividers, horizontal, left);
		border-right: 1px solid mapGet($inverse, dividers, horizontal, right);
	}
}

&.default.dividers.vertical {
	::slotted(h3) {
		background-color: mapGet($inverse, bg, vertical, caption);
		border-top: 1px solid mapGet($inverse, dividers, caption, top);
		border-bottom: 1px solid mapGet($inverse, dividers, caption, bottom);
		text-shadow: 0 1px 2px mapGet($inverse, text, caption, shadow) !important;
	}
	::slotted(a) {
		border-top: 1px solid mapGet($inverse, dividers, vertical);
	}
	::slotted(a.rb-last) { // differ (:last-child)
		border-bottom: 1px solid mapGet($inverse, dividers, vertical);
	}
	::slotted(a:hover),
	::slotted(a:focus) {
		background-color: mapGet($inverse, bg, vertical, links, hover);
	}
	::slotted(a.active) {
		background-color: mapGet($inverse, bg, vertical, links, active);
	}
	::slotted(a:active) { // differ (added)
		color: mapGet($inverse, text, links, active) !important;
	}
}

&.tabs.dividers {
	::slotted(a) {
		border: 1px solid mapGet($inverse, dividers, tabs);
	}
}
&.tabs.dividers.horizontal {
	::slotted(a) {
		border-bottom: none;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		background-color: mapGet($inverse, bg, tabs, horizontal, dividers, links, active);
	}
}
