/********************
 * BACKGROUND STYLES
 ********************/
@mixin setBGs() {
	$themes: light, dark;
	$kinds: default, primary;
	$layouts: horizontal-no-dividers, horizontal-dividers, vertical-dividers;
	@each $theme in $themes {
		@each $kind in $kinds {
			@each $layout in $layouts {
				$layoutSel:   if(str-index($layout,vertical), vertical, horizontal);
				$dividersSel: if(str-index($layout,'no-dividers'), 'no-dividers', 'dividers');
				.#{$theme}.#{$kind}.#{$layoutSel}.#{$dividersSel} { // null will not output selector
					::slotted(h3) {
						$bc: mapGet($vars, $theme, #{$kind}-#{$layout}-heading-bg);
						$bc: if($bc, $bc !important, null);
						background-color: $bc;
					}
					::slotted(a) {
						$bc: mapGet($vars, $theme, #{$kind}-#{$layout}-link-bg);
						$bc: if($bc, $bc !important, null);
						background-color: $bc;
					}
					::slotted(a:hover),
					::slotted(a:focus) {
						$bc: mapGet($vars, $theme, #{$kind}-#{$layout}-link-bg-hover);
						$bc: if($bc, $bc !important, null);
						background-color: $bc;
					}
					::slotted(a:active) {
						$bc: mapGet($vars, $theme, #{$kind}-#{$layout}-link-bg-click);
						$bc: if($bc, $bc !important, null);
						background-color: $bc;
					}
					::slotted(a.active) {
						$bc: mapGet($vars, $theme, #{$kind}-#{$layout}-link-bg-active);
						$bc: if($bc, $bc !important, null);
						background-color: $bc;
					}
				}
			}
		}
	}
}
@mixin setResponsiveBGs() {
	$themes: light, dark;
	$kinds: default, primary;
	$triggers: closed, open;
	@each $theme in $themes {
		.#{$theme}.primary.vertical.dividers.responsive ::slotted(h3) {
			background-color: mapGet($vars, $theme, primary-responsive-dividers-heading-bg) !important;
		}
		@each $kind in $kinds {
			.#{$theme}.#{$kind}.responsive {
				.nav {
					background-color: mapGet($vars, $theme, #{$kind}-responsive-nav-bg);
				}
				@each $trigger in $triggers {
					&.menu-#{$trigger} .trigger {
						background-color: mapGet($vars, $theme, #{$kind}-responsive-#{$trigger}-trigger-bg);
						// the bars
						b { background-color: mapGet($vars, $theme, #{$kind}-responsive-#{$trigger}-trigger-bars-bg); }
						&:focus b,
						&:hover b {
							background-color: mapGet($vars, $theme, #{$kind}-responsive-#{$trigger}-trigger-bars-bg-hover);
						}
					}
				}
			}
		}
	}
}

@include setBGs();
@include setResponsiveBGs();