/****************
 * COLOR PALETTE
 ****************/
// Constants
$BLACK:     black;                 // 000
$BLUE_GREY: slategrey;             // 708090
$DARK:      lighten(black, 19.5%); // 323232
$GREY:      grey;                  // 808080
$LIGHT:     darken(white, 17.2%);  // d3d3d3
$RED:       indianred;             // cd5c5c
$WHITE:     white;                 // fff

// Color Palette
$palette: (
	// Black;
	black:           $BLACK,                    // #000

	// Blue Greys
	blueGreyDark:    darken($BLUE_GREY, 8%),    // 5e6c79
	blueGrey:        $BLUE_GREY,                // 708090
	blueGreyLight:   lighten($BLUE_GREY, 2.6%), // 778796

	// Darks
	xDark:           darken($DARK, 3.5%),       // 292929
	dark:            $DARK,                     // 323232

	// Greys
	greyDark:        darken($GREY, 9%),         // 696969
	grey:            $GREY,                     // 808080
	greyLight:       lighten($GREY, 9.7%),      // 999
	xGreyLight:      lighten($GREY, 23%),       // bbb
	xxGreyLight:     lighten($GREY, 29.7%),     // ccc

	// Lights
	light:           $LIGHT,                    // d3d3d3
	xLight:          lighten($LIGHT, 3.5%),     // dcdcdc
	xxLight:         lighten($LIGHT, 6.2%),     // e3e3e3
	xxxLight:        lighten($LIGHT, 13%),      // f4f4f4
	xxxxLight:       lighten($LIGHT, 15%),      // f9f9f9
	xxxxxLight:      lighten($LIGHT, 15.2%),    // fafafa

	// Reds
	xRedDark:        darken($RED, 15%),         // a93434
	redDark:         darken($RED, 10%),         // bc3a3a
	red:             $RED,                      // cd5c5c
	redLight:        lighten($RED, 5%),         // d37070

	// Transparent
	transparent:     transparent,

	// White
	white:           $WHITE                     // fff
);