/*********
 * COMMON
 *********/
& {
	position: relative;
	line-height: 1.5;

	::slotted(a) {
		margin: 0;
		box-sizing: border-box !important;
		cursor: pointer !important;
		text-decoration: none !important;
	}
	::slotted(a:focus) {
		outline: none !important;
	}
}
