/*********
 * COMMON
 *********/
& {
	position: relative;
	line-height: 1.5;
}

/* Responsive
 *************/
.trigger {
	display: none;
}

/* Slot Content
 ***************/
::slotted(h3) {
	letter-spacing: .1px !important;
	text-transform: uppercase !important;
	text-shadow: none !important;
	font-weight: 700 !important;
	font-size: remy(13) !important;
	color: mapGet($colors, text, caption, default) !important;
}

::slotted(a) {
	box-sizing: border-box !important;
	cursor: pointer !important;
	text-decoration: none !important;
}
::slotted(a:focus) {
	outline: none !important;
}

::slotted(a),
::slotted(h3) { // mac: helvetica | windows: segoe
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

&.horizontal {
	::slotted(h3) {
		&::after {
			position: relative;
			margin: 0 0 0 1px;
			top: -1.5px;
			content: ':';
		}
	}
}