/***********
 * DIVIDERS
 ***********/
&.default.dividers.horizontal {
	::slotted(a:not(.rb-first)) {
		box-shadow: -7px 1px 0 -6px mapGet($colors, dividers, horizontal);
	}
}

&.default.dividers.vertical {
	::slotted(h3) {
		background-color: mapGet($colors, bg, vertical, caption);
		border-top: 1px solid mapGet($colors, dividers, caption, top);
		border-bottom: 1px solid mapGet($colors, dividers, caption, bottom);
		text-shadow: 1px 1px 4px mapGet($colors, text, caption, shadow) !important;
	}
	::slotted(a) {
		border-top: 1px solid mapGet($colors, dividers, vertical);
	}
	::slotted(a:last-child) {
		border-bottom: 1px solid mapGet($colors, dividers, vertical);
	}
	::slotted(a:hover),
	::slotted(a:focus) {
		background-color: mapGet($colors, bg, vertical, links, hover);
	}
	::slotted(a.active) {
		background-color: mapGet($colors, bg, vertical, links, active);
	}
}

/* Primary
 **********/
&.primary.dividers {
	::slotted(a) {
		border: 1px solid mapGet($colors, dividers, primary);
	}
}
&.primary.dividers.horizontal {
	::slotted(a) {
		border-bottom: none;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		background-color: mapGet($colors, bg, primary, horizontal, dividers, links, active);
	}
}
