/***********
 * DIVIDERS
 ***********/
&.default.dividers.horizontal {
	::slotted(a) {
		margin: 0;
	}
	::slotted(a:not(:first-child)) { padding-left:  remy(15); }
	::slotted(a:not(:last-child))  { padding-right: remy(15); }
	::slotted(a:not(:first-child))::before {
		display: inline-block;
		position: relative;
		top: 1px;
		right: remy(15);
		height: remy(12);
		border-left: 1px solid mapGet($colors, dividers, horizontal, left);
		border-right: 1px solid mapGet($colors, dividers, horizontal, right);
		content: '';
	}
}

&.default.dividers.vertical {
	::slotted(a) {
		margin: 0;
		padding: remy(7) remy(12) remy(9);
		border-bottom: 1px solid mapGet($colors, dividers, vertical);
	}
	::slotted(a:first-child) {
		border-top: 1px solid mapGet($colors, dividers, vertical);
	}
	::slotted(a:hover),
	::slotted(a:focus) {
		background-color: mapGet($colors, bg, vertical, links, active);
	}
	::slotted(a.active) {
		background-color: transparent;
	}
}

/* Tabs
 *******/
&.tabs.dividers {
	::slotted(a) {
		border: 1px solid mapGet($colors, dividers, tabs);
	}
}
&.tabs.dividers.horizontal {
	::slotted(a) {
		border-bottom: none;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		background-color: mapGet($colors, bg, tabs, horizontal, dividers, links, active);
	}
}

&.tabs.dividers.vertical {
	::slotted(a) {
		padding-bottom: remy(11);
	}
	::slotted(a:not(:last-child)) {
		margin-bottom: remy(3);
	}
}
