/********
 * KINDS
 ********/
&.default {
	::slotted(a) {
		font-size: remy(16) !important;
		color: mapGet($colors, text, links, default);
	}
	::slotted(a:not(:last-child)) {
		margin-right: remy(15);
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a.active) {
		color: mapGet($colors, text, links, active);
	}
	::slotted(a:active:not(.active)) {
		color: mapGet($colors, text, links, click);
	}
}

&.tabs {
	::slotted(a) {
		font-size: remy(13) !important;
		font-weight: 600 !important;
		letter-spacing: .1px !important;
		text-transform: uppercase !important;
		color: mapGet($colors, text, tabs, links, default);
	}
	::slotted(a:active),
	::slotted(a.active) {
		color: mapGet($colors, text, tabs, links, active);
	}
}