/********
 * KINDS
 ********/
&.default {
	::slotted(a) {
		font-size: remy(16) !important;
		color: mapGet($colors, text, links, default) !important;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a.active) {
		color: mapGet($colors, text, links, active) !important;
	}
	::slotted(a:active:not(.active)) {
		color: mapGet($colors, text, links, click) !important;
	}
}

&.tabs {
	::slotted(a) {
		font-size: remy(13) !important;
		font-weight: 600 !important;
		letter-spacing: .1px !important;
		text-transform: uppercase !important;
		color: mapGet($colors, text, tabs, links, default) !important;
	}
	::slotted(a:active),
	::slotted(a.active) {
		color: mapGet($colors, text, tabs, links, active) !important;
	}
}

&.tabs.horizontal {
	::slotted(a) {
		border-radius: 10px 10px 0 0;
		border: 1px solid transparent;
		border-bottom: none;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		border-color: mapGet($colors, dividers, tabs);
		background-color: mapGet($colors, bg, tabs, horizontal, links, active);
	}
}

&.tabs.vertical {
	::slotted(a) {
		border-radius: 10px;
	}
	::slotted(a:hover),
	::slotted(a:focus),
	::slotted(a:active),
	::slotted(a.active) {
		background-color: mapGet($colors, bg, tabs, vertical, links, active);
	}
}

