/**********
 * LAYOUTS
 **********/
&.horizontal { // default
	flex-flow: row wrap;
	align-items: baseline;
}
&.vertical {
	flex-flow: column nowrap;
}

/* Default
 **********/
&.default.horizontal {
	::slotted(h3) {
		margin-right: remy(15) !important;
	}
	::slotted(a:not(:last-child)) {
		margin-right: remy(15) !important;
	}
}
&.default.vertical {
	::slotted(h3) {
		margin-bottom: remy(12) !important;
	}
	::slotted(a:not(:last-child)) {
		margin-bottom: remy(10) !important;
	}
	::slotted(a.rb-last:not(:last-child)) {
		margin-bottom: remy(12) !important;
	}
}
&.default.horizontal.dividers {
	::slotted(a) {
		margin-right: 0 !important;
	}
	::slotted(a:not(.rb-first)) { padding-left:  remy(15) !important; }
	::slotted(a:not(.rb-last))  { padding-right: remy(15) !important; }
	::slotted(a.rb-last:not(:last-child)) {
		margin-right: remy(15) !important;
	}
}
&.default.vertical.dividers {
	::slotted(h3) {
		margin: 0 !important;
		padding: remy(11) remy(12) remy(9) !important;
	}
	::slotted(a) {
		margin: 0 !important;
		padding: remy(7) remy(12) remy(9) !important;
	}
}

/* Tabs
 *******/
&.tabs.horizontal {
	top: 1px; // to overlap bottom border of container

	::slotted(h3),
	::slotted(a.rb-last:not(:last-child)) {
		margin-right: remy(12) !important;
	}
	::slotted(a:not(.rb-last)) {
		margin-right: remy(2) !important;
	}
	::slotted(a) {
		padding: remy(10) remy(10) remy(18) !important;
	}
}

&.tabs.vertical {
	::slotted(h3) {
		padding: remy(10) remy(12) !important;
	}
	::slotted(a) {
		padding: remy(11) remy(12) remy(12) !important;
	}
	::slotted(a:not(.rb-last)) {
		margin-bottom: remy(2) !important;
	}
}