/**********
 * LAYOUTS
 **********/
&.horizontal .nav {
	flex-flow: row wrap;
	align-items: baseline;
}
&.vertical .nav {
	flex-flow: column nowrap;
	flex: 1 1 auto;
}

/* Default
 **********/
&.default.horizontal {
	::slotted(h3),
	::slotted(a:not(:last-child)) {
		margin-right: remy(15) !important;
	}
}
&.default.vertical {
	::slotted(a:not(:last-child)) {
		margin-bottom: remy(10) !important;
	}
	::slotted(h3),
	::slotted(a.rb-last:not(:last-child)) {
		margin-bottom: remy(12) !important;
	}
}
&.default.horizontal.dividers {
	::slotted(a) {
		margin-right: 0 !important;
	}
	::slotted(a:not(.rb-first)) { padding-left:  remy(15) !important; }
	::slotted(a:not(.rb-last))  { padding-right: remy(15) !important; }
	::slotted(a.rb-last:not(:last-child)) {
		margin-right: remy(15) !important;
	}
}
&.default.vertical.dividers {
	::slotted(*) {
		margin: 0 !important;
	}
	::slotted(h3) {
		padding: remy(11) remy(15) remy(9) remy(12) !important;
	}
	::slotted(a) {
		padding: remy(7) remy(15) remy(9) remy(14) !important;
	}
}

/* Primary
 **********/
&.primary.horizontal {
	::slotted(h3),
	::slotted(a.rb-last:not(:last-child)) {
		margin-right: remy(12) !important;
	}
	::slotted(a:not(.rb-last)) {
		margin-right: remy(2) !important;
	}
	::slotted(a) {
		padding: remy(10) remy(10) remy(18) !important;
	}
}

&.primary.vertical {
	::slotted(h3) {
		padding: remy(10) remy(15) remy(10) remy(12) !important;
	}
	::slotted(a) {
		padding: remy(11) remy(15) remy(12) remy(14) !important;
	}
	::slotted(a:not(.rb-last)) {
		margin-bottom: remy(2) !important;
	}
}